# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/data/private_avatar.php
/data/private_api
/data/private_share.php
/private_index.php
/home/private_index.php
/data/lib/three.min.js
/data/lib/ThreeCSG.js
/data/lib/three.js
/data/lib/csg.js
/data/lib/socket.io/socket.io.js
/undefined
/data/dist/css/thevelvetcafe.ca
./server.exe
server.exe
