# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/app/private_avatar.php
/app/private_data.php
/app/private_share.php
/private_index.php
/home/private_index.php
/app/lib/three.min.js
/app/lib/ThreeCSG.js
/app/lib/three.js
/app/lib/csg.js
/app/lib/socket.io/socket.io.js
