Options -Indexes

RewriteEngine On
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301]
RewriteRule ^avatar\/(.*) /app/avatar.php?name=$1
#RewriteRule ^(?!\/app.*\/)$ /?f=$1

<ifModule mod_expires.c>
ExpiresActive On
ExpiresDefault A300
 
# Expires after 1 month
ExpiresByType image/gif A2592000
ExpiresByType image/png A2592000
ExpiresByType image/jpg A2592000
ExpiresByType image/x-icon A2592000
ExpiresByType application/x-font-ttf A2592000
 
# Expires after 1 week
# ExpiresByType text/css A1004800
# ExpiresByType application/javascript A1004800
# </ifModule>
# <IfModule mod_headers.c>
#  <FilesMatch "\.(js|css|xml|gz)$">
#    Header append Vary: Accept-Encoding
#  </FilesMatch>
# </IfModule>

#Gzip
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript text/javascript
</ifmodule>
#End Gzip
#SetEnvIfNoCase Origin "https?://(www\.)?(spacehexagon\.com|stereonexus\.com)(:\d+)?$" ACAO=$0
#Header set Access-Control-Allow-Origin %{ACAO}e env=ACAO
<IfModule mod_headers.c>
   Header set Access-Control-Allow-Origin "*"
</IfModule>