html {
	font-family: robotoThin, helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	    position: absolute;
    width: 100%;
    height: 100%;
	background-color: #1A1A1A;
	background-image: -webkit-linear-gradient(#313131, #1A1A1A);
	background-image: -moz-linear-gradient(#313131, #1A1A1A);
	background-image: linear-gradient(#313131, #1A1A1A);
	background-attachment: fixed;
    background-size: cover;
}

body {
	color: white;
	position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

canvas {
	z-index: -1;
	background: black;
}

nav {
	width: 100%;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	height: 60px;
	background: none;
}

nav ul {
	width: 100%;
	max-width: 1280px;
	height: 60px;
	margin: auto;
	padding-left: 0;
	display: block;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 23px;
	vertical-align: top;
}

section ul li {
	margin-top: 1em;
}

nav ul li a.here {
	border-bottom: 4px solid #ff8000;
	padding-bottom: 16px;
}

nav a:hover {
	text-decoration: none !important;
}

nav a.sh {
    background: url(../data/icon-ntad64.png);
    background-size: cover;
    height: 64px;
    width: 64px;
    position: relative;
    right: 2px;
    display: inline-block !important;
    padding: 0;
    cursor: pointer;
    margin-top: 1em;
    margin-bottom: 0;
    margin-left: 0;
}

nav a {
	width: 48px;
	height: 48px;
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 0.5em;
    margin-top: 0.25em;
	background-size: contain;
	background-repeat: no-repeat;

}

nav a.up {
	font-size: 3.5em !important;
	text-align: center;
	margin-bottom: 12px;
	background-image:url(../data/hdpi-triangle.png);
}

nav a.upload {
	font-size: 54px;
	font-weight: 100;
	padding-left: 13px;
	margin-bottom: 12px;
	font-family: arial;
	background-image:url(../data/upload.png);
}

nav a.mkdir {
	font-size: 32px;
  font-weight: 100;
  padding-left: 11px;
	margin-bottom: 12px;
  font-family: arial;
	background-image:url(../data/mkdir.png);
}
nav a.rm {
font-size: 2.0em;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 0.5em;
}

nav a.touch {
	background-image:url(../data/touch.png);
	margin-bottom: 6px
}

nav a.create {
	background-image:url(../data/plus.png);
	margin-bottom: 6px
}

div.upload {
	position: fixed;
	background: rgb(18, 18, 18);
	box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.3);
	bottom: 0px;
	left: 90px;
}
nav a.view {
	background-image: url(../data/3d.png);
}
nav a.sort {
	background-image: url(../data/sort.png);
	margin-top: 6px;
}

.up {
	font-size: 24px !important;
	display: block;
}

input [type=text] {
	background: black;
	color: white;
}
aside.sort, aside.view, aside.file, aside.creation {
	 box-shadow: 0px 0px 10px;
	    padding-top: 115px !important;
    left: 78px !important;
    z-index: 2 !important;
}

aside.sort nav a, aside.view nav a, aside.file nav a, aside.creation nav a {
	width: 48px;
	height: 48px;
}


aside nav a.name {
	background-image: url(../data/name.png);
}

aside nav a.date {
	background-image: url(../data/horizontal-split.png);
}

aside nav a.type {
	    background-image: url(../data/type3.png);
}

aside nav a.grid {
	background-image: url(../data/quarter-split.png);
}

aside nav a.hexagon {
	background-image: url(../data/hexagon2.png);
}

aside nav a.full3d {
	background-image: url(../data/3d.png);
}

aside nav a.text {
	background-image: url(../data/text2.png);
}

aside nav a.image {
	background-image: url(../data/image.png);
}

aside nav a.object {
	background-image: url(../data/cube.png);
}

.upload input,
.mkdir input {
	padding: 1em;
	margin: 1em;
	background: rgb(43, 43, 43);
	border: 4px rgba(222, 0, 43, 1)solid;
	box-shadow: 0px 0px 36px black;
	font-weight: bold;
	color: white;
	cursor: pointer;
}
#delete-form {
	padding: 1em;
	margin: 1em;
	background: rgb(43, 43, 43);
	border: 4px rgba(222, 0, 43, 1)solid;
	box-shadow: 0px 0px 36px black;
	font-weight: bold;
	color: white;
	transition: all 0.3s ease;
	position: fixed;
	bottom:1em;
	left: 60px;
}
#delete-form:hover {
	opacity:0.3;
	bottom:-1em;
}
section.half {
	width: 49%;
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

section.third {
	width: 33%;
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.fileManagement aside {
	  position: fixed;
	  width: 60px;
	  height: 100%;
	  float: left;
	  z-index: 999;
	  background: black !important;
	  padding: 0.75em;
	  padding-bottom: 0;
	  padding-top: 0;
	  font-size: 18px;
	  z-index: 3;
}

aside nav {
	position: relative;
	width: 60px;
	height: auto !important;
}

section.content {
	max-width: 100%;
	  position: relative;
	  height: 100%;
	  margin-left: 92px;
}

.fileManagement aside input {
	padding: 13px;
	font-size: 20px;
	margin: 16px;
}

.fileManagement aside options input {
	opacity: 0.5;
}

.fileManagement aside options.active input {
	opacity: 1;
}

section div.details {}

section div.options {}

article.file {
	/* new file css here */
}

h1 {
	text-align: center;
	text-shadow: black 1px 1px 2px;
	font-size: 36pt;
	z-index: 9999;
	position: relative;
	padding-bottom: 1em;
}

h2 {
	    margin-bottom: 3em;
}

h2.server {
	width: 100%;
	margin: auto;
	max-width: 960px;
	color: red;
}

h3 {
	/*    text-align: center;*/
}

p {}

article {
	border-top: #ff8000 4px solid;
	background: rgba(0, 0, 0, 0.74);
	font-weight: bold;
	padding-left: 1em;
	padding-top: 1em;
	margin: auto;
	margin-bottom: 4em;
}

article p {
	line-height: 2em;
	max-width: 960px
}

section {}

section h2,
section h3 {
	text-align: left;
	margin-bottom: 1.33em;
	margin-top: 0;
}

a,
a:visited,
a:link,
a:active {
	color: white;
	text-decoration: none;
	font-size: 1.2em;
}

a:hover {
	text-decoration: underline;
	color: #FD005F;
}

main a {
	text-decoration: underline !important;
}

input {
	padding: 1em;
	margin: 1em;
	background-color: transparent;
	color: white;
}

input[type=text], input[type=password] {
	margin-left: 2em;
    box-shadow: 0px 4px 4px rgba(0,0,0, 0.6), 0px 2px 10px rgba(255, 255, 255, 0);
    background-color: #171717;
    border: none;
}

.titleEntry {
	width: 94%;
    margin-top: 0px;
    font-size: 16px;
    padding: 2.5%;
    margin-left: 0 !important;
    margin-bottom: 1em;
}
.widgetContainer {
	width: 100%;
	height: auto;
	top: 20px;
  	left: 120px;
	position: fixed;
	z-index: 9999;
}

.DataPane {
	 position: relative;
    display: inline-block;
    width: 45%;
    padding: 1%;
    margin-top: 42px;
    margin-left: 3em;
    min-width: 320px;
    min-height: 310px;
    max-width: 960px;
    float: left;
    background-color: #101010;
    border-top: 4px solid #FD005F !important;
    border-bottom: 4px solid #222;
}

.DataPane h2 {
	    display: inline-block;
}

.DataPane .done {
        margin: 0;
    margin-top: 1em;
    color: #000;
    background: transparent;
    border: none;
    padding: 1em;
	display: block;
}

.DataPane .done:hover; {
	background-color: #FFF;
}

.DataPane input[type=file] {
	display: block;
    margin-bottom: 3em;
}

.DataPane input[type=button] {
	background: black;
	color: white;
	border: 2px white solid;
}

.DataPane .close:hover {
	background: white;
	color: black;
}

.DataPane .snap {
    max-width: 46%;
}
.DataPane .quarter-snap {
    max-width: 23%;
	margin-left:1.5em;
	margin-right:1.5em;
}



.Card input.close {
	border: 0;
    background-color: rgba(0, 0, 0, 0);
    color: #FFF;
    cursor: pointer;
    padding: 0.45em;
    font-weight: bold;
    margin-top: 0;
    margin-right: 0;
    font-size: 18px;
    display: inline-block;
    right: 0px;
	width: 37px;
    position: absolute;
    top: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 9999999;
    opacity: 0;
}
.Card input.close.edit {
	right: 37px;
    width: 64px;
}
.Card:hover input.close {
	opacity: 1;
}

.Card input.close:hover  {
	background: white;
	color: black;
}
.Folder {
	border-top: 4px solid #FD005F !important;
}
.DataPane .close {
   border: 0;
    background-color: #FFF;
    color: #101010;
    cursor: pointer;
    padding: 0.75em;
    margin-top: 0;
    display: inline-block;
    right: 1.5%;
    position: absolute;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.DataPane:hover .close {
	opacity: 1;
}

.DataPane div {
	display: inline-block;
	width: 100%;
}

.DataPane textarea {
        width: 94%;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 256px;
    font-size: 16px;
    padding: 2.5%;
    color: #FFF;
    background-color: #171717;
    box-shadow: 0px 4px 4px rgba(0,0,0, 0.6), 0px 2px 10px rgba(255, 255, 255, 0);
    border: none;
}
.content.hexagon {
	position: relative;
}
.content.hexagon .Card, .content.hexagon .DataPane {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	margin: auto;
	max-height: 256px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.lightbox {
	width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.52);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
	section.half {
		margin-left: 1em;
		width: 45%;
	}
	section.third {
		width: 49%;
	}
	section.featureApp {
		position: relative;
		display: inline-block;
		width: 32% !important;
		vertical-align: bottom;
		height: auto;
		margin-top: 60%;
		left: auto !important;
		right: auto !important;
		top: auto !important;
		text-align: center;
	}
}

@media screen and (max-width: 960px) {
	body {
		background-size: 200%;
	}
	.fileManagement aside {
		padding: 0 !important;
		height: 75px !important;
    	top: 0;
	}
	.DataPane {
		float: none;
		margin-left: 29px;
		margin-right: 0;
		margin-top: 80px;
		margin-bottom: 40px;
		min-height: 320px;
		width: 100%;
		max-width: 320px;
	}
	nav,
	aside {
		background: none !important;
		width: 100% !important;
		height: 60px !important;
	}
	aside {
		padding-bottom: 1em !important;
		padding-top: 1em !important;
	}
	aside.sort, aside.view, aside.file, aside.creation {
		top: 78px !important;
		left: 0px !important;
	}
	section.content {
		margin-top: 70px !important;
		margin-left: 0 !important;
		padding-top: 40px !important;
	}
	nav.enabled ul li {
		display: inline-block !important;
	}
	nav a {
		top: 0;
		margin-top: 12px;
   	 	margin-bottom: 15px !important;
	}
	nav a.sh {
		margin-top: 0;
		position: relative;
		top: 5px;
		left: 8px;
		margin-right: 12px;
	}
	nav a.upload {
		position: relative;
		bottom: 15px;
		padding-left: 0;
		padding-right: 12px;
	}
	nav a.up {
		display: inline-block;
	}
	nav a.mkdir {
		position: relative;
    	bottom: 15px;
	}
	nav a.touch {
		    margin-bottom: 15px;
	}
	nav a.create {
		margin-bottom: 15px
	}
	nav a.rm {
		  font-size: 2.0em;
		  display: inline-block;
		  text-align: center;
		  margin: auto;
		  width: 50px;
		  margin-top: 0.25em;
		  vertical-align: top;
	}
	nav a.view {
	    margin-bottom: 15px
	}
	nav a.sort {
		margin-bottom: 15px
	}
	nav ul li {
		padding-left: 0;
		width: 100%;
		text-align: center;
		background: rgba(0, 0, 0, 0.75);
		display: none;
	}
	.upload input,
	.mkdir input {
		max-width: 204px;
		box-shadow: 0px 0px 20px black;
	}
	.widgetContainer {
		left: 20px;
		top: 100px;
	}
}


@media screen and (max-width: 480px) {
	.Card {
		display: block !important;
		max-height: 265px !important;
    	max-width: 265px !important;
    	width: 100% !important;
		margin: auto !important;
		margin-bottom: 2em !important;
	}
	.fileManagement aside {
		height: 70px !important;
	}
	.DataPane {
		margin: auto !Important;
		display: block;
		position: relative;
		bottom: 1em;
	}
	nav a {
		margin-right: 0;
    	margin-left: 6px;
		margin-right: 6px;
		margin-top: 12px;
	}
	nav a.sh {
/*		display: none !important;*/
		top: 4px;
	}
	nav a.up {
		width: 50px;
    	margin-left: 12px;
	}
	aside.sort nav a, aside.view nav a, aside.file nav a, aside.creation nav a {
	top: 0px !important;
    left: 6px;
    margin-left: 9px;
    margin-right: 6px;
}

	.DataPane .done {
	    margin-left: 2em !important;
	}

	nav a.upload {
		position: relative !important;
		bottom: 25px !important;
	}
	nav a.mkdir {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 322px) {
	a.view {
		display: none !important;
	}
}

.hexMenu {
	background: url(../data/appicon60.png);
	background-size: cover;
	height: 60px;
	width: 60px;
	position: relative;
	top: 0;
	left: 0;
	display: inline-block !important;
	padding: 0;
	cursor: pointer;
}

main {
	max-width: 1280px;
	margin: auto;
	z-index: 1;
	height: 100%;
	position: relative;
}

.orange {
	color: #ff8000;
}

.viewport {
	position: fixed;
	top: 0;
	left: 0;
}

.app-info {
	margin-bottom: 1em;
}

.app-info div {
	position: relative;
	bottom: 56px;
	width: 172px;
	display: inline-block;
	padding-left: 1em;
}

.app-info img {
	max-width: 128px;
	border-radius: 50%;
}

.app-info div a {}

@font-face {
	font-family: robotoThin;
	src: url(/app/css/Roboto-Thin.ttf);
}

#overworld {
	width: 16%;
	right: 41%;
}

#particlecloud {
	width: 19%;
	right: 19%;
}

#nexus {
	width: 16%;
	right: 0;
}

.featureApp {
	position: absolute;
	display: inline-block;
	bottom: 130px;
}

.featureApp a img {
	width: 48px;
	border-radius: 50%;
	margin: auto;
	position: relative;
	top: 0;
	display: inline;
	opacity: 0.5;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.noOverflow {
	overflow: hidden;
}

form {
	text-align: left;
	width: 100%;
	margin: auto;
	max-width: 960px;
}

form input[type=submit] {
	width: 80px;
    margin-left: 0;
}

form.fileManagement {
	max-width: 100%;
	width: 100%;
	height: auto;
	min-height: 100%;
/*
	background-image: -webkit-linear-gradient(#000, #000, #313131);
	background-image: -moz-linear-gradient(#000, #000, #313131);
	background-image: linear-gradient(#000, #000, #313131);
*/
    color: #FFF;


}

.auth_field {
	display: block;
    width: 330px;
}

.hidden .auth_field {
    display: none;
}

.hidden input[type=submit] {
    display: none;
}

.auth_field input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #000 inset;
    -webkit-text-fill-color: white;
}
.auth_field input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #000 inset;
    -webkit-text-fill-color: white;
}

div.formContainer {
	text-align: center;
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    height: 50%;
    min-width: 360px;
}


.formContainer form {
	margin: auto;
    max-width: 590px !important;
}

.Card {
	position: relative;
	min-width: 90px;
    display: inline-block;
    color: white;
    margin-left: 38px;
    margin-top: 38px;
    box-shadow:0px 4px 4px rgba(0,0,0, 0.6), 0px 2px 10px rgba(255, 255, 255, 0);
    padding: 1em;
    background: #313131;
    -webkit-transition: all ease-out 0.5s;
    -moz-transition: all ease-out 0.5s;
    transition: all ease-out 0.5s;
    width: 220px;
    vertical-align: top;
}

.Card.Image {
    height: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #FFF;
    border-top: 0;
}

.Card.Image a {
	width: 100%;
	height: 100%;
	font-size: 26px;
	text-shadow: 1px 1px 1px black;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.Card:hover {
	box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);
	/*	border-top: 24px solid #FD005F;*/
}

.Card.Image a:hover {
	opacity: 1;
}

.Card a {
	word-break: break-all;
	font-size: 1.2em;
	display: block;
	position: relative;
}

.Card a img {
	margin-top: 1em;
	width: 100%;
}
